html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
	font-family: sans-serif;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 30px;
	text-align: center;
}

.h1 {
	font-size: 3em;
	margin-bottom: 15px;
}

.search-input {
	width: 400px;
	height: 30px;
}

.btn {
	width: 60px;
	height: 30px;
	color: white;
	background: red;
	border: none;
}

.hidden {
	display: none;
}

.search-results {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 30px;
}

.result-item {
	width: 250px;
	height: 250px;
	padding: 5px;
}

.photographer-name {
	padding: 5px;
	font-size: 1.2em;
}

.footer {
	text-align: center;
	font-size: 1.7em;
	position: fixed;
	background: white;
	padding: 10px;
	bottom: 0;
	width:100%;
}